{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}
    
    <link rel="shortcut icon" href="{{ theme_url }}/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="{{ theme_url }}/img/favicon.ico" type="image/x-icon" />

    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/admin.css', 3) %}
        {% do assets.addCss('theme://css/vendors.css', 4) %}
        {% do assets.addCss('theme://css/print.css', 1) %}
        {% do assets.addCss('theme://css/custom.css', 2) %}
    {% endblock %}
    {{ assets.css() }}

    

{% endblock head %}
</head>