{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://img/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/admin.css', 4) %}
        {% do assets.addCss('theme://css/vendors.css', 3) %}
        {% do assets.addCss('theme://css/print.css', 1) %}
        {% do assets.addCss('theme://css/custom.css', 2) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/main.min.js', 97) %}
        {% do assets.addJs('theme://js/vendors.min.js', 99) %}
        {% do assets.addJs('theme://js/polyfills.min.js', 98) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>